input{
    width: 40%;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid grey; 
}

.generateBtn{
    padding: 12px 16px;

}

.mnemonicContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}