.wallet-container{
    border: grey 2px solid; 
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 70%;
    padding: 15px;
    border-radius: 5px;
    h3{
        margin-block: 5px;
        margin-inline: 0;
    }
    h5{
        margin: 0;
    }
    p{
        margin: 0;
    }
}

.wallet-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
   .icon{
    font-size: 22px;
    color:  rgb(236, 119, 123);
    cursor: pointer;
   }
   .icon:hover{
    color:red;
   }
  }
  .solana{
    padding: 0.4rem 1.5rem;
   
  }
  .walletS{
    display: flex;
    align-items: center;
    justify-content: stretch;
    gap: 2rem;
  }

  .hide{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .balance{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-direction: column; */
  }